@import url('https://fonts.googleapis.com/css?family=Montserrat:400');
@import url('reset.css');

/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


html {
    font-size: 100%;
    /*16px*/
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 1.75;


}

/* Responsive images */
img {
    max-width: 100%;
    height: auto;
    display: block;
    /* Removes bottom gap */
}

/* Typography Styles */

p {
    margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 3rem 0 1.38rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 1.3;
}

h1 {
    margin-top: 0;
    font-size: 3.052rem;
    color: white;
}

h2 {
    font-size: 2.441rem;

}

h3 {
    font-size: 1.953rem;
}

h4 {
    font-size: 1.563rem;
}

h5 {
    font-size: 1.25rem;
}
h6 {
    font-size: 6rem;
}

small,
.text_small {
    font-size: 0.8rem;
}


/* Layout Styles */

/*
.header {
    display: flex;
    flex-direction: column;
}
*/

.hero {
    background: linear-gradient(90deg, rgba(209, 236, 246, 1) 81%, rgba(179, 220, 206, 1) 100%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.hero-text {
    padding: 4em;
}

.project-container {
    background: white;
    min-height: 100vh;
}

.footer {
    background: orangered;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* holding page styles */
.holding-wrapper {
    background-image: linear-gradient(to right, #ec77ab 0%, #7873f5 100%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
holding-text {
    padding: 4em;
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
    body {
        background: lightblue;
    }

    .hero {
        padding: 3em;

    }

    .hero-text {
        padding: 4em;
    }

}









/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    body {
        background: purple;
        flex-direction: row;
    }
}

/* glitch */
@import "compass/css3";

body{
  background:black;
  font-family: 'Varela', sans-serif;
}

.glitch{
  color:white;
  font-size:100px;
  position:relative;
  width:400px;
  margin:0 auto;
}
@keyframes noise-anim{
  $steps:20;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      clip:rect(random(100)+px,9999px,random(100)+px,0);
    }
  }
}
.glitch:after{
  content:attr(data-text);
  position:absolute;
  left:2px;
  text-shadow:-1px 0 red;
  top:0;
  color:white;
  background:black;
  overflow:hidden;
  clip:rect(0,900px,0,0); 
  animation:noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim-2{
  $steps:20;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      clip:rect(random(100)+px,9999px,random(100)+px,0);
    }
  }
}
.glitch:before{
  content:attr(data-text);
  position:absolute;
  left:-2px;
  text-shadow:1px 0 blue; 
  top:0;
  color:white;
  background:black;
  overflow:hidden;
  clip:rect(0,900px,0,0); 
  animation:noise-anim-2 3s infinite linear alternate-reverse;
}