@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@300;400;500&display=swap');

/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
    }


html {
    font-size: 70%;
    /*16px*/
}

body {
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    max-width: 100%;
    overflow-x: hidden;
    margin: 2rem;
    font-weight: 300;
    line-height: 1.75rem;
    background: #151414;
    color: white;
    line-height: 1.5rem;
    cursor:url(images/icon/diamond-white.png), auto;

}




/* Responsive images */
img {
    max-width: 100%;
    height: auto;
    display: block;
    /* Removes bottom gap */
}

/* Typography Styles */

p {
    color: white;
    font-weight: 300;
    line-height: 1.4rem;
}

h1 {
    font-weight: 500;
    font-size: 2.3rem;
    line-height: 4rem;
    color: white;
}

h2 {
    font-size: 2.441rem;
   
    margin-bottom: 0.5rem;

}

h3 {
    font-size: 1.953rem;
    margin-bottom: 0.5rem;
}

h4 {
    font-weight: 400;
    font-size: 1.5rem;
    color: white;
}
h4:hover{
    color:violet
}

h5 {
    font-weight: 500;
    font-size: 1.25rem;
    margin-bottom: 1rem;
    color: white;
}

h6 {
    font-weight: 500;
    font-size: 0.75rem;
    color: white;
    line-height: 1.3rem;
}

small,
.text_small {
    font-size: 0.8rem;
}


a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: violet;
}


/* Layout Styles */

/*header */
.header {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;

}

.wrapper {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}



.nav {
    display: flex;
    margin-bottom:1rem;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;

}



/* .nav-item {
    background: black;
    border: none;
    display: flex;
    flex-direction: row;
    align-self: center;
} */

#logo {
    min-width: 20vw;
    max-width: 40vw;
}


.social {
    display: flex;
    flex-direction: row;
    width: 4.5em;
    justify-content: space-around;
    align-items: center;
}

/*
.branding {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}*/

/* hero */

.hero {

    color: white;
    padding: 3em;
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.hero-text {
    padding: 3em;
    color: white;
}

.ticker li {
    font-size: 1.5em;
    color: white;
    width: 16rem !important;
    margin: 1rem;
}


@keyframes ticker {
    0% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(-10rem, 0, 0);
    }
}

.ticker {
    animation: ticker 18s linear infinite;
    display: flex;
    flex-direction: row;
    padding-top: 1rem;
    padding-bottom: 2rem;
}


/*.project-container { 
padding: 2rem;
}
*/

.project-list {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "project-1"
        "project-2"
        "project-3"
        "project-4"
        "project-5";
}

.project-1 {
    grid-area: project-1;
}

.project-2 {
    grid-area: project-2;
}

.project-3 {
    grid-area: project-3;
}

.project-4 {
    grid-area: project-4;
}

.project-5 {
    grid-area: project-5;
}


.project-page-list {
    display:flex;
    flex-flow:column;
    justify-content:center;
    align-content:space-between;
}
/* .project-item {
    width: 100%;
    display: flex;
    float: left;
    justify-content: center;
    align-items: center;
    filter: grayscale(100)
} */

.project-image {
    filter: grayscale(100);
    border: solid white 2px;
}

.project-image:hover {
    filter: grayscale(0%)
}

.project-item-text {
    position: absolute;
    color: white;
}
.figure {
    padding: 0px;
    margin:0px;
}
.figcaption{
    color:white;
    padding: 0px;
    margin:0px;

}

.project-title-wrapper {
    display: flex; 
    flex-direction: row;
    border: solid white 2px;
    border-top:0px;
    justify-content: space-between;
    align-items: center;
padding-right: 2em;}

.project-title {
    box-sizing: content-box;
    border-top:0px;
    padding: 8px;
    margin:0px;
}
/* 
.project-title::after {
    content: url(images/icon/arrow-white.svg);
    background-image: url(images/icon/arrow-white.svg);
    background-size: 100px 20px;
    display: inline-block;
    width: 30vw; 
    height: 20px;
    background: red;

} */


.categories-list{
    box-sizing: content-box;
    border: solid white 2px;
    border-top:0px;
    padding: 8px;
    margin-bottom: 5rem;
}
.category{
    color: white;
}

.footer {
    min-height: 25vh;
    margin-top:2rem;
}

.footer-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: white;
}

.footer-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-space {
    padding-top: 1rem;
}

/* project page styles*/

.portfolio-image {
    margin-top: 1rem;
}

/* holding page styles */
.holding-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Has to be .holding-text or #holding-text */
holding-text {
    padding: 4em;
}

/* glitch */
.glitch {
    color: white;
    font-size: 3em;
    position: relative;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

@keyframes noise-anim {
    0% {
        clip: rect(85px, 9999px, 15px, 0);
    }

    5% {
        clip: rect(48px, 9999px, 53px, 0);
    }

    10% {
        clip: rect(66px, 9999px, 92px, 0);
    }

    15% {
        clip: rect(91px, 9999px, 62px, 0);
    }

    20% {
        clip: rect(78px, 9999px, 2px, 0);
    }

    25% {
        clip: rect(86px, 9999px, 38px, 0);
    }

    30% {
        clip: rect(63px, 9999px, 71px, 0);
    }

    35% {
        clip: rect(92px, 9999px, 68px, 0);
    }

    40% {
        clip: rect(53px, 9999px, 67px, 0);
    }

    45% {
        clip: rect(25px, 9999px, 14px, 0);
    }

    50% {
        clip: rect(20px, 9999px, 25px, 0);
    }

    55% {
        clip: rect(11px, 9999px, 82px, 0);
    }

    60% {
        clip: rect(75px, 9999px, 76px, 0);
    }

    65% {
        clip: rect(47px, 9999px, 54px, 0);
    }

    70% {
        clip: rect(74px, 9999px, 93px, 0);
    }

    75% {
        clip: rect(39px, 9999px, 40px, 0);
    }

    80% {
        clip: rect(93px, 9999px, 46px, 0);
    }

    85% {
        clip: rect(69px, 9999px, 51px, 0);
    }

    90% {
        clip: rect(25px, 9999px, 17px, 0);
    }

    95% {
        clip: rect(31px, 9999px, 26px, 0);
    }

    100% {
        clip: rect(77px, 9999px, 1px, 0);
    }
}

.glitch:after {
    content: attr(data-text);
    position: absolute;
    text-shadow: -2px 0 red;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: white;
    background:#151414;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim-2 {
    0% {
        clip: rect(34px, 9999px, 67px, 0);
    }

    5% {
        clip: rect(9px, 9999px, 70px, 0);
    }

    10% {
        clip: rect(96px, 9999px, 66px, 0);
    }

    15% {
        clip: rect(38px, 9999px, 87px, 0);
    }

    20% {
        clip: rect(19px, 9999px, 14px, 0);
    }

    25% {
        clip: rect(79px, 9999px, 24px, 0);
    }

    30% {
        clip: rect(45px, 9999px, 93px, 0);
    }

    35% {
        clip: rect(20px, 9999px, 72px, 0);
    }

    40% {
        clip: rect(6px, 9999px, 65px, 0);
    }

    45% {
        clip: rect(1px, 9999px, 89px, 0);
    }

    50% {
        clip: rect(99px, 9999px, 41px, 0);
    }

    55% {
        clip: rect(52px, 9999px, 83px, 0);
    }

    60% {
        clip: rect(20px, 9999px, 86px, 0);
    }

    65% {
        clip: rect(92px, 9999px, 73px, 0);
    }

    70% {
        clip: rect(24px, 9999px, 84px, 0);
    }

    75% {
        clip: rect(84px, 9999px, 5px, 0);
    }

    80% {
        clip: rect(78px, 9999px, 50px, 0);
    }

    85% {
        clip: rect(29px, 9999px, 80px, 0);
    }

    90% {
        clip: rect(67px, 9999px, 56px, 0);
    }

    95% {
        clip: rect(2px, 9999px, 73px, 0);
    }

    100% {
        clip: rect(27px, 9999px, 40px, 0);
    }
}

.glitch:before {
    content: attr(data-text);
    position: absolute;
    text-shadow: 2px 0 blue;
    top: 0;
    right: 0;
    bottom: 0;
    left: -2px;
    color: white;
    background: #151414;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim-2 3s infinite linear alternate-reverse;
}


















































/* LARGE SCREENS */

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
    /* body {
        flex-direction: row;
    } */

    /* .project-item {
            width: 50%;
            display: flex;
            float: left;
        } */
        #logo {
            min-width: 10vw;
            max-width: 40vw;
        }
    .project-list {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 0.5fr 1fr 0.5fr 1fr 0.5fr 1fr 0.5fr 1fr 0.5fr 1fr;
        gap: 0rem 3rem; 
        grid-template-areas:
            "project-1 ."
            "project-1 ."
            "project-1 project-2"
            ". project-2"
            "project-3 project-2"
            "project-3 ."
            "project-3 project-4"
            ". project-4"
            "project-5 project-4"
            "project-5 ."
            "project-5 .";
    }
    
      .project-1 {
        grid-area: project-1;
    }

    .project-2 {
        grid-area: project-2;
    }

    .project-3 {
        grid-area: project-3;
    }

    .project-4 {
        grid-area: project-4;
    }

    .project-5 {
        grid-area: project-5;
    }





    .illustration-item {
        width: 40%;
        display: flex;
        float: left;
        align-items: center;
        margin: 1em;
    }

    .project-text {
        padding: 2em;

        display: flex;
        align-items: center;
    }

    #melancholy-text {
        min-width: 100%;
    }

    html {
        font-size: 100%;
        /*16px*/
    }


    h1 {
        margin-top: 0;
        font-size: 3.052rem;
        color: white;
    }

    h2 {
        font-size: 2.441rem;


    }

    h3 {
        font-size: 1.953rem;
    }

    h4 {
        font-size: 1.5rem;
    }

    h5 {
        font-size: 1.6rem;
        line-height: 2rem;
        margin: 0rem;
        margin-bottom: 1.38rem;
        color: white;
    }

    h6 {
        font-size: 1rem;
        font-weight: 500;
    }

    small,
    .text_small {
        font-size: 0.8rem;
    }

    #logo {
        max-width: 10vw;
    }

    .project-page-container {
        display: inline-flex;
        gap: 2rem;
        margin-top: 2rem;
        justify-content: center;
    }
    .project-header {
        flex:1;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .project-header-right {
        flex:1;
        padding-top: 2rem;
    }

    .project-item-image {
        flex:1;
        
    }
    .project-item-image-alt {
        flex:2;
        
    }
   .project-paragraph {
       list-style-type:none;
       padding-bottom:1rem;
   }
    
}