@import url('https://fonts.googleapis.com/css?family=Montserrat:400');
@import url('reset.css');

/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


html {
    font-size: 100%;
    /*16px*/
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 1.75;


}

/* Responsive images */
img {
    max-width: 100%;
    height: auto;
    display: block;
    /* Removes bottom gap */
}

/* Typography Styles */

p {
    margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 3rem 0 1.38rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 1.3;
}

h1 {
    margin-top: 0;
    font-size: 3.052rem;
    color: white;
}

h2 {
    font-size: 2.441rem;

}

h3 {
    font-size: 1.953rem;
}

h4 {
    font-size: 1.563rem;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 6rem;
}

small,
.text_small {
    font-size: 0.8rem;
}


/* Layout Styles */

/*
.header {
    display: flex;
    flex-direction: column;
}
*/

.hero {
    background: linear-gradient(90deg, rgba(209, 236, 246, 1) 81%, rgba(179, 220, 206, 1) 100%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.hero-text {
    padding: 4em;
}

.project-container {
    background: white;
    min-height: 100vh;
}

.footer {
    background: orangered;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* holding page styles */
.holding-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: yellowgreen;
}

holding-text {
    padding: 4em;
}



/* glitch */
body {
    background: black;
    font-family: 'Varela', sans-serif;
}

.glitch {
    color: white;
    font-size: 4em;
    position: relative;
    width: 80%;
    margin: 0 auto;
    background: purple;
    text-align: center;
}

@keyframes noise-anim {
    0% {
        clip: rect(25px, 9999px, 69px, 0);
    }

    5% {
        clip: rect(7px, 9999px, 32px, 0);
    }

    10% {
        clip: rect(66px, 9999px, 9px, 0);
    }

    15% {
        clip: rect(6px, 9999px, 66px, 0);
    }

    20% {
        clip: rect(80px, 9999px, 55px, 0);
    }

    25% {
        clip: rect(11px, 9999px, 20px, 0);
    }

    30% {
        clip: rect(70px, 9999px, 35px, 0);
    }

    35% {
        clip: rect(18px, 9999px, 97px, 0);
    }

    40% {
        clip: rect(21px, 9999px, 9px, 0);
    }

    45% {
        clip: rect(84px, 9999px, 73px, 0);
    }

    50% {
        clip: rect(97px, 9999px, 98px, 0);
    }

    55% {
        clip: rect(83px, 9999px, 56px, 0);
    }

    60% {
        clip: rect(38px, 9999px, 45px, 0);
    }

    65% {
        clip: rect(25px, 9999px, 48px, 0);
    }

    70% {
        clip: rect(57px, 9999px, 42px, 0);
    }

    75% {
        clip: rect(46px, 9999px, 82px, 0);
    }

    80% {
        clip: rect(53px, 9999px, 76px, 0);
    }

    85% {
        clip: rect(75px, 9999px, 39px, 0);
    }

    90% {
        clip: rect(9px, 9999px, 21px, 0);
    }

    95% {
        clip: rect(98px, 9999px, 61px, 0);
    }

    100% {
        clip: rect(18px, 9999px, 92px, 0);
    }
}

.glitch:after {
    content: attr(data-text);
    position: absolute;
    left: 2px;
    text-shadow: -1px 0 red;
    top: 0;
    color: white;
    background: hotpink;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim-2 {
    0% {
        clip: rect(96px, 9999px, 16px, 0);
    }

    5% {
        clip: rect(69px, 9999px, 17px, 0);
    }

    10% {
        clip: rect(43px, 9999px, 14px, 0);
    }

    15% {
        clip: rect(52px, 9999px, 40px, 0);
    }

    20% {
        clip: rect(86px, 9999px, 7px, 0);
    }

    25% {
        clip: rect(95px, 9999px, 55px, 0);
    }

    30% {
        clip: rect(67px, 9999px, 56px, 0);
    }

    35% {
        clip: rect(32px, 9999px, 36px, 0);
    }

    40% {
        clip: rect(6px, 9999px, 88px, 0);
    }

    45% {
        clip: rect(81px, 9999px, 49px, 0);
    }

    50% {
        clip: rect(35px, 9999px, 68px, 0);
    }

    55% {
        clip: rect(49px, 9999px, 34px, 0);
    }

    60% {
        clip: rect(7px, 9999px, 40px, 0);
    }

    65% {
        clip: rect(10px, 9999px, 89px, 0);
    }

    70% {
        clip: rect(94px, 9999px, 89px, 0);
    }

    75% {
        clip: rect(51px, 9999px, 39px, 0);
    }

    80% {
        clip: rect(62px, 9999px, 43px, 0);
    }

    85% {
        clip: rect(91px, 9999px, 79px, 0);
    }

    90% {
        clip: rect(78px, 9999px, 66px, 0);
    }

    95% {
        clip: rect(63px, 9999px, 3px, 0);
    }

    100% {
        clip: rect(64px, 9999px, 43px, 0);
    }
}

.glitch:before {
    content: attr(data-text);
    position: absolute;
    left: -2px;
    text-shadow: 1px 0 blue;
    top: 0;
    color: white;
    background: orangered;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim-2 3s infinite linear alternate-reverse;
}




















































/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
    body {
        background: lightblue;
    }

    .hero {
        padding: 3em;

    }

    .hero-text {
        padding: 4em;
    }

}









/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    body {
        background: purple;
        flex-direction: row;
    }
}
